<section
  class="w-screen h-screen flex justify-center items-center flex-col gap-2"
>
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#e0e7ff_40%,#4f46e5_100%)]"
  ></div>
  <img alt="photo" src="huella.png" class="w-24 h-24 object-contain" />
  <h1 class="font-bold text-7xl">Sistema de Firmas Digitales</h1>
  <p class="font-bold">Integrado con Jacubitus</p>
  <p class="font-bold text-2xl text-gray-600">
    Seguridad y eficiencia en cada documento
  </p>
  <app-button label="Inicar section" [icon]="ICONS.GOOGLE" />
</section>
