<aside
  class="h-screen py-8 px-4 flex flex-col gap-4 bg-white transition-all duration-300 w-[280px] overflow-hidden border-r border-gray-300"
>
  <h3
    class="text-lg flex items-center gap-2 font-medium my-14 w-full justify-center"
  >
    <span
      class="overflow-hidden whitespace-nowrap transition-all duration-300"
      [ngClass]="{
        ' opacity-100': sidebarService.isCollapsed(),
        'opacity-0 hidden ': !sidebarService.isCollapsed()
      }"
    >
      Firma Digital
    </span>
  </h3>

  <app-wrapperlink [title]="'Gestionar Documentos'">
    <app-link
      class="w-full"
      [label]="'Firmar Documento'"
      [route]="PATH_ROUTES.DASHBOARD_FIRMAR"
      [iconName]="ICONS.VALIDATE"
    />
    <app-link
      class="w-full"
      [label]="'Documentos Firmados'"
      [route]="PATH_ROUTES.DASHBOARD_VERIFY"
      [iconName]="ICONS.SHIELD"
    />
  </app-wrapperlink>
  <app-wrapperlink [title]="'Gestionar Tokens'">
    <app-link
      class="w-full"
      [label]="'Token de Firma'"
      [route]="PATH_ROUTES.DASHBOARD_TOKEN"
      [iconName]="ICONS.TOKEN"
    />
  </app-wrapperlink>
  <app-wrapperlink [title]="'Configuración'">
    <app-link
      class="w-full"
      [label]="'Perfil'"
      [route]="PATH_ROUTES.DASHBOARD_USERS"
      [iconName]="ICONS.USER"
    />
    <app-link
      class="w-full"
      [label]="'Configuración'"
      [route]="PATH_ROUTES.DASHBOARD_CONFIGURATION"
      [iconName]="ICONS.SETTING"
    />
    <app-link
      class="w-full"
      [label]="'Cerrar Secion'"
      [route]="PATH_ROUTES.LOGOUT"
      [iconName]="ICONS.LOGOUT"
    />
  </app-wrapperlink>
</aside>
