<section class="p-8 flex flex-col gap-8 justify-center h-full">
  <h1 class="text-3xl font-bold">Firmar Docunentos</h1>
  <p-toast></p-toast>

  <!--       
      <article
      class="transition-all duration-800 ease-in-out h-full w-full"
      [ngClass]="{
        'border-primary': tokenData?.datos?.connected,
        'border-gray-300 ': !tokenData?.datos?.connected
        }"
      >
        <h4 class="font-bold text-2xl my-2">Tokens Detectados</h4>

        @if (tokenData?.datos?.connected) { @for ( token of
        tokenData?.datos?.tokens; track token.serial) {
        <ul
          [ngClass]="{
            'border-2 border-uploaded  shadow-md text-uploaded h-[90%]  ':
              selectedToken === token
          }"
          class="border border-gray-300 rounded-xl p-4"
        >
          <li (click)="selectToken(token)" class="flex justify-between">
            <div>
              <p class="font-medium">{{ token.name }} ({{ token.model }})</p>
              <p class="text-gray-500">Serial: {{ token.serial }}</p>
            </div>
            <button
              (click)="selectToken(token)"
              class="bg-primary/20 text-primary w-12 h-12 rounded-full hover:bg-primary hover:text-white transition-all duration-300 z-30"
            >
              <i [class]="ICONS.SETTING"></i>
            </button>
          </li>
          @if(selectedToken === token){
          <form
            [ngClass]="{
              ' h-[80%]   p-2 rgrid grid-cols-4 grid-rows-4':
                selectedToken === token
            }"
            [formGroup]="peyloadToken"
          >
            <custom-input
              class="w-full"
              label="slot"
              type="text"
              [control]="peyloadToken.controls.slot"
              [_isDisabled]="true"
            ></custom-input>
            <custom-input
              class="w-full col-span-3"
              label="Introduce el ping del token"
              type="number"
              [control]="peyloadToken.controls.pin"
            ></custom-input>
            <button-primary
              label="Validar ping"
              (clicked)="validar()"
              class="col-span-2"
            />
          </form>
          }
        </ul>
        } @if(infoUserSelected != null){
        <p>{{ infoUserSelected.certificates }}</p>

        } } @else {
        <img alt="photo" src="404-error.png" class="object-contain h-1/2" />
        <p class="text-center">No se detectaron tokens</p>
        }
      </article> -->

  <section class="flex w-full h-full gap-4">
    <upload-validate></upload-validate>
    <upload-file class="w-full"></upload-file>
  </section>
</section>
