<section class="p-8 flex flex-col gap-8 justify-center h-full">
  <p-toast></p-toast>
  <h1 class="text-3xl font-bold">Documentos firmados</h1>
  @for (item of data; track item.id) {
  <div class="flex gap-2">
    <p>{{ item.id }}</p>
    <p>{{ item.fecha | date : "short" }}</p>
  </div>
  } @empty {
  <li>There are no items.</li>
  }

  <!-- <div
    class="overflow-x-auto w-full h-full p-4 bg-white shadow-md rounded-xl overflow-hidden"
  >
    <table class="">
      <thead class="">
        <tr>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            Nombre
          </th>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            Fecha-Hora
          </th>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            Tipo Documento
          </th>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            ID Token
          </th>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            IP Equipo
          </th>
          <th class="py-2 px-4 border-b text-left font-medium text-sm">
            Entidad
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datos" class="hover:bg-gray-100">
          <td class="py-2 px-4 border-b">{{ dato.nombre }}</td>
          <td class="py-2 px-4 border-b">{{ dato.fechaHora }}</td>
          <td class="py-2 px-4 border-b">{{ dato.tipoDocumento }}</td>
          <td class="py-2 px-4 border-b">{{ dato.id_token }}</td>
          <td class="py-2 px-4 border-b">{{ dato.ip_equipo }}</td>
          <td class="py-2 px-4 border-b">{{ dato.entidad }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</section>
